AWX_URL=https://<IP_O_FQDN_DEL_AAP>
AWX_TOKEN=<TOKEN_DE_USUARIO_AAP>
JOB_TEMPLATE_ID=<ID_DEL_JOB_TEMPLATE_LOG_MONITOR>
INVENTORY_ID=<ID_DEL_INVENTARIO>
TEAMS_WEBHOOK_URL=<INCOMING_WEBHOOK_URL_DE_TEAMS>
TEAMS_HMAC_TOKEN=<SECURITY_TOKEN_DEL_OUTGOING_WEBHOOK>
ANTHROPIC_API_KEY=<ANTHROPIC_API_KEY>
INVENTORY_PATH=../../shared/inventory/hosts_inventario
